@use '../../colors.scss';
@use '../../sizes.scss';

:host {
  background-color: #d1c7c7;
}

.accordion-title {
  font-weight: bold
}

.accordion-header {
  height: sizes.$portfolio-size-40;
}
.accordion-container {
  transition: height 0.8s cubic-bezier(1, 0, 0.41, 1.01);
}

.accordion-body {
  display: none;
  opacity: 0.6;
  transition: opacity .29s;
}

.accordion-body.active {
  display: block;
  animation: fadeIn .9s;
  -webkit-animation: fadeIn .8s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}

