@use "../../colors.scss";
@use "../../sizes.scss";

:host {
  padding: sizes.$portfolio-size-10;
}

a {
  padding-top: 10px;
  padding-bottom: 20px;
}

.card-container:hover {
  opacity: 1;
}

.card-container {
  opacity: 0.5;
  width: sizes.$portfolio-size-320;
  // background-color: colors.$portfolio-color-white;
  background-color: #f7f7f7;
  border-radius: 6px;
  height: sizes.$portfolio-size-400;
  padding: sizes.$portfolio-size-10;
  box-shadow: sizes.$portfolio-size-4 sizes.$portfolio-size-4 #e1e0e0;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.card-content {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

img {
  max-width: 106%;
  width: 106%;
  height: 45%;
  max-height: sizes.$portfolio-size-200;
  margin-left: -10px;
}
