<div class="card-container">
  <div class="card-header">
    <div mat-card-avatar class="example-header-image"></div>
    <div class="card-title">Title</div>
    <div class="card-subtitle">Subtitle</div>
  </div>
  <img src="../../assets/images/ocean.jpg" alt="">
  <div class="card-content">
    <p>
      Sed sapien augue, laoreet nec massa vitae, accumsan volutpat metus. Vivamus in volutpat ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam pretium velit massa, at rutrum ex semper eu. In a porta quam. Aenean eleifend odio sed odio ullamcorper, id rutrum arcu tempus. Ut venenatis viverra convallis. Donec porta lorem et tortor suscipit vehicula. Ut ac nibh volutpat, commodo dolor vel, dignissim nisi. Integer vitae tincidunt nulla. Mauris diam sapien, convallis sed pulvinar et, consequat vitae ante.
    </p>
  </div>

</div>
