@use '../../colors.scss';
@use '../../sizes.scss';

:host {
  padding: sizes.$portfolio-size-10
}

.card-container {
  width: sizes.$portfolio-size-320;
  background-color: colors.$portfolio-color-white;
  height: sizes.$portfolio-size-400;
  padding: sizes.$portfolio-size-10;
  box-shadow: sizes.$portfolio-size-4 sizes.$portfolio-size-4 #e1e0e0;
}

.card-content {
  font-size: 14px;
}


img {
  max-width: 106%;
  max-height: sizes.$portfolio-size-200;
  margin-left: -10px;
}
