@use '../../sizes.scss';

.container {

  display: flex;
  flex-direction: column;

  @media only screen
  and (min-device-width: sizes.$portfolio-size-768)
  and (max-device-width: sizes.$portfolio-size-1600)
  and (-webkit-min-device-pixel-ratio: 1) {

  flex-direction: row;
  }
}

.logo {
  width: sizes.$portfolio-size-600;
  margin-left: sizes.$portfolio-size-70;
}

#emily {

  width: sizes.$portfolio-size-642;
  height: sizes.$portfolio-size-620;

  @media only screen
  and (min-device-width: sizes.$portfolio-size-768)
  and (max-device-width: sizes.$portfolio-size-1600)
  and (-webkit-min-device-pixel-ratio: 1) {
  width: sizes.$portfolio-size-600;

  }

}


p {
  text-align: center;
  font-size: sizes.$portfolio-size-16;
  margin-left: sizes.$portfolio-size-10;
  margin-right: sizes.$portfolio-size-10;
  margin-top: calc( -1 * sizes.$portfolio-size-100);
  padding-left: sizes.$portfolio-size-10;
  padding-right: sizes.$portfolio-size-10;
}

.text {
  margin-right: sizes.$portfolio-size-40;
  margin-top: sizes.$portfolio-size-20;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}

img {
display: block;
  animation: fadeIn 1.9s;
  -webkit-animation: fadeIn .8s;
}
