<app-nav></app-nav>

<div class="container">
  <div class="logo">
    <img src="../../assets/images/logo.png" />
    <div class="text">
      <p>
        Hi there! I'm a software development consultant and career changer
        <br />
        (I used to work in secondary education)
        <br />
        <br />

        I'm also a graduate of the coding bootcamp
        <strong>Makers Academy</strong>
        <br />
        <br />

        I love being a part of the tech community, and you can often find me
        reading about new technologies or trying out a new technology in a
        personal project.
        <br />
        <br />
        Outside of tech, I'm interested in a lot of things, as can be seen on my
        'interests' page
      </p>
    </div>
  </div>

  <div class="emily">
    <img id="emily" src="../../assets/images/linkedinemily.png" />
  </div>
</div>

<app-footer></app-footer>
