@use '../../sizes.scss';

body {
  background-color: rgb(204, 201, 201);
}
.projects-container {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #d6cfcf;
}


img {
  width: sizes.$portfolio-size-200;
  height: sizes.$portfolio-size-300;
}

ul {
  list-style-type: none;
  padding: 24px;
}

h1, h2, h3 {
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 28px;
}
