@use "../../sizes.scss";


.logo {
  padding-top: sizes.$portfolio-size-40;
  padding-bottom: sizes.$portfolio-size-20;
  margin-right: sizes.$portfolio-size-360;
  margin-left: sizes.$portfolio-size-360;
  margin-bottom:  calc( -1 * sizes.$portfolio-size-100);
 }

 .fab {
  padding-left: sizes.$portfolio-size-600;
  padding-bottom:  calc( -1 * sizes.$portfolio-size-450);
 }

 .linkedin {
  margin-top: calc( -1 * sizes.$portfolio-size-160);
  margin-left: sizes.$portfolio-size-532;
 }

 .home {
  margin-top: calc( -1 * sizes.$portfolio-size-36);
  margin-left: sizes.$portfolio-size-1100;
 }

