.navbar {
  width: 90%;
  padding-left: 400px;
  text-decoration: none;
  background-color: rgb(114, 114, 114);
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
    justify-content: center

}

a:link {
  text-decoration: none;
  color: white;
}


a:visited {
  text-decoration: none;
  color: white;
}


a:hover {
  text-decoration: none;
  color: white;
}


a:active {
  text-decoration: none;
  color: white;
}

.navbar-item {
  padding: 20px;
  text-align: center;
  vertical-align: center;

}

.logo {
  width: 60px;
  height: 60px;
  margin-bottom: -20px;
}


