@use "../../sizes.scss";
@use "../../colors.scss";

.navbar {
  padding-left: sizes.$portfolio-size-400;
  text-decoration: none;
  color: colors.$portfolio-color-dark-grey;
  height: sizes.$portfolio-size-40;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
   width: 90%;
   background-color: colors.$portfolio-color-dark-grey;
   color: colors.$portfolio-color-pure-white;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: colors.$portfolio-color-dark-grey;
  @media (min-width: 768px) {
  color: colors.$portfolio-color-pure-white;
  }
}

.navbar-item {
  padding: sizes.$portfolio-size-20;
  text-align: center;
  vertical-align: center;
  color: gray;
}

.logo {
  width: sizes.$portfolio-size-60;
  height: sizes.$portfolio-size-60;
  margin-bottom: calc(-1 * sizes.$portfolio-size-20);
}
