<h1>Interests</h1>
<ul>
  <li>Performing Arts</li>
  <li>Exercise and fitness</li>
  <li>Wellbeing</li>
  <li>Mental Health</li>
  <li>Languages</li>
  <li>Tech</li>
</ul>

<app-accordion></app-accordion>
<!--
Wellbeing - My current interest is in the Gut-Brain axis and the microbiome. Proponent of Professor
Tim Spector (Kings College London). I enjoy attending wellness events such as Balance Festival, which I will be in attendance at this year.

Fitness - Member of the FitDevs community. Just Strong Ambassador. Try to do at least 300 minutes of vigorous exercise each week.

Mental Health - I'm especially interested in the role that a diverse microbiome and exercise have on our mental health.

Performing Arts. If I weren't a developer/working in tech, I would love to work in the performing arts as I grew up
being involved heavily in the performing arts
-->
