@use '../../sizes.scss';
@use '../../colors.scss';

h2 {
  text-align: center;
}

.dance {
  width: sizes.$portfolio-size-350;
  height: sizes.$portfolio-size-350;;
  display: flex;
  flex-direction: row;
  padding: sizes.$portfolio-size-15;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  background-color: colors.$portfolio-color-white-grey;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
}

.physical {
  width: sizes.$portfolio-size-300;
  height: sizes.$portfolio-size-300;
  display: flex;
  flex-direction: row;
  padding: sizes.$portfolio-size-10;
  box-sizing: border-box;
  background-color: colors.$portfolio-color-white-grey;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
}

.piano {
  width: sizes.$portfolio-size-300;
  height: sizes.$portfolio-size-300;
  display: flex;
  flex-direction: row;
  padding: sizes.$portfolio-size-10;
  box-sizing: border-box;
  background-color: colors.$portfolio-color-white-grey;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
}

.performingarts-container {
  display: flex;
  word-wrap: normal;
  flex-direction: column;
  background-color: colors.$portfolio-color-grey-white;
  height: sizes.$portfolio-size-800;
  padding-right: sizes.$portfolio-size-100;
  padding-left: sizes.$portfolio-size-100;
}

.performingarts-text {
  margin-left: sizes.$portfolio-size-50;
  margin-right: sizes.$portfolio-size-50;
  position: relative;
  bottom: sizes.$portfolio-size-110;
}

.performingarts-images {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  bottom: sizes.$portfolio-size-55;
}

.performingarts-title {
 padding: sizes.$portfolio-size-10;
 position: relative;
 top: sizes.$portfolio-size-10;
 margin: auto;
 background-color: colors.$portfolio-color-grey-white;
}

h3 {
  position: relative;
  bottom: calc(-1 * sizes.$portfolio-size-400);
}

h2 {
  text-align: center;
}


.languages-title {
  padding-top: sizes.$portfolio-size-40;
}

.languages-text {
  margin-left: sizes.$portfolio-size-80;
  margin-right: sizes.$portfolio-size-80
}

.languages-text2 {
  margin-left: sizes.$portfolio-size-80;
  margin-right: sizes.$portfolio-size-80;
}

.wellbeing-container {
  padding-left: sizes.$portfolio-size-100;
  padding-right: sizes.$portfolio-size-100;
}

.wellbeing-text {
 margin-top: sizes.$portfolio-size-40;
}

.mental {
  margin-top: sizes.$portfolio-size-100;
  padding-right: sizes.$portfolio-size-100;
  padding-left: sizes.$portfolio-size-100;
}

.fitness-container {
  margin-right: sizes.$portfolio-size-200;
  margin-left: sizes.$portfolio-size-200;
}

p {
  text-align: center;
}

.technology-container {
  margin-top: sizes.$portfolio-size-50;
}
.athenacircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.googlecircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.railscircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}


.nodecircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.javacircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.twittercircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.qwikcircle {
  width: sizes.$portfolio-size-320;
  height: sizes.$portfolio-size-320;
  border-radius: 50%;
  margin: sizes.$portfolio-size-10;
  box-sizing: border-box;
  border: solid  colors.$portfolio-color-grey sizes.$portfolio-size-20;
  padding: sizes.$portfolio-size-15;
}

.technology-title {
  margin-top: sizes.$portfolio-size-40;
}
.technology-text {
  margin-left: sizes.$portfolio-size-80;
  margin-right: sizes.$portfolio-size-80;
  padding: sizes.$portfolio-size-20;
}

.technology-images {
  display: flex;
  flex-direction: column;
  position: relative;
  left: sizes.$portfolio-size-120;
}

.tech, .tech2 {
  display: flex;
  flex-direction: row;
  margin-left: calc(-1 * sizes.$portfolio-size-20);
}

.techie {
  background-color: colors.$portfolio-color-grey-white;
  height: sizes.$portfolio-size-1050;
}

.wellbeing {
  margin-left: sizes.$portfolio-size-50;
  margin-right: sizes.$portfolio-size-50;
}

.wellbeing-images {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.wellbeing-text {
  margin-bottom: sizes.$portfolio-size-50;
}

.fitness {
  margin-left: sizes.$portfolio-size-50;
  margin-right: sizes.$portfolio-size-50;
}

.fitness-images {
  display: flex;
  flex-direction: row;
  margin-left:calc(-2 * sizes.$portfolio-size-50);
  margin-right: sizes.$portfolio-size-90;
}

.fitness-text {
  margin-bottom: 0;
  padding-top: sizes.$portfolio-size-10;
}

.mental-health-container {
  margin-left: sizes.$portfolio-size-50;
  margin-right: sizes.$portfolio-size-50;
  padding-top: sizes.$portfolio-size-20;
}

.mental-health-images {
  display: flex;
  flex-direction: row;
  margin-left: sizes.$portfolio-size-50;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}

img {
display: block;
  animation: fadeIn 1.9s;
  -webkit-animation: fadeIn 1.5s;
}
