<app-nav></app-nav>
<h2>Interests</h2>
<div class="interests-container">
  <div class="performingarts-container">
    <h2 class="performingarts-title">The Performing Arts</h2>
    <div class="performingarts-images">
      <img
        class="physical"
        src="../../assets/images/physicalcircle.png"
        alt="physicaltheatre"
      />
      <img
        class="dance"
        src="../../assets/images/dancecircle.png"
        alt="an early dance exam"
      />
      <img
        class="piano"
        src="../../assets/images/pianocircle.png"
        alt="piano"
      />
    </div>
    <br />
    <p class="performingarts-text">
      Having grown up taking ballet, tap, modern dance, piano, violin and speech
      & drama lessons, I have a deep appreciation for all aspects of the
      performing arts.<br />
      <br />
      Taking examinations in these areas on a yearly basis meant that I spent
      many an hour honing these skills, competing in competitions, performing at
      concerts, including local <strong>Young Musician concerts</strong>,
      <strong>ABRSM High Scorers Concerts</strong>, and other concerts.<br />
      <br />
      I've also performed in various dance shows and musicals, including a
      performance at the <strong>John Smith's Stadium</strong> in Huddersfield.
      <br />
      <br />
      Last year I joined the dance studio <strong>At Your Beat</strong>, based in central London
    </p>
  </div>
  <div class="wellbeing-container">
    <h2 class="wellbeing-title">Wellbeing</h2>
    <div class="wellbeing-images">
      <img
        class="physical"
        src="../../assets/images/balancecircle.png"
        alt="balance festival 2022"
      />
      <img
        class="dance"
        src="../../assets/images/microbiomebookscircle.jpg"
        alt="wellbeing books"
      />
      <img
        class="piano"
        src="../../assets/images/buddhismcircle.jpg"
        alt="buddhism book in german and buddha statue"
      />
    </div>
    <div class="wellbeing-text">
    <p>
      I've been interested in meditation and buddhism since my university days;
      I even took a Zen Buddhism class when I was studying abroad at the
      <strong>University of Heidelberg</strong> in Germany.<br />
      <br />
      I'm currently particularly interested in the
      <strong>Gut-Brain axis and the microbiome</strong> while also being a
      proponent of
      <strong
        >Professor Tim Spector (Kings College London), Dr Will Bulsiewicz
        (author of Fibre Fuelled), and Professor Felice Jacka</strong
      >
      - all who have examined the impact that improving gut diversity may have
      on mood.<br />
      <br />
      I enjoy attending wellness events such as <strong>Balance Festival</strong>, which I will
      be in attendance at this year.
    </p>
  </div>
  </div>
  <div class="fitness-container">
    <h2 class="fitness-title">Fitness</h2>
    <div class="fitness-images">
      <img
        class="physical"
        src="../../assets/images/gymcircle.png"
        alt="photo of gym"
      />
      <img
        class="dance"
        src="../../assets/images/juststrongcircle.jpg"
        alt="just strong clothing"
      />
      <img
        class="piano"
        src="../../assets/images/dancecircle (2).png"
        alt="dance in heels"
      />
    </div>
    <div class="fitness-text">
    <p class="fitness-text">
      I'm a member of the FitDevs community; a community of developers who
      encourage each other to improve ourselves, our physical and mental health
      through exercise.
      <br />
      <br />
      I'm a Just Strong Ambassador and try to do at least 300 minutes of
      exercise each week.
    </p>
  </div>
  </div>
    <div class="technology-container">
      <h2 class="technology-title">Technology</h2>
        <div class="technology-images">
          <div class="tech">
            <img
              class="nodecircle"
              src="../../assets/images/nodecircle.png"
              alt="node girls london meetup"
            />
            <br />
            <img
              class="javacircle"
              src="../../assets/images/javacircle.png"
              alt="codebar android development"
            />
            <img
              class="qwikcircle"
              src="../../assets/images/qwikcircle.png"
              alt="qwik launch"
            />
            <br />
            <br />
            <br />
          </div>
          <div class="tech2">
            <img
              class="twittercircle"
              src="../../assets/images/twittercircle.png"
              alt="codebar meetup at google"
            />
            <img
              class="athenacircle"
              src="../../assets/images/athenacircle.png"
              alt="athena hack queen marys"
            />
            <img
              class="railscircle"
              src="../../assets/images/railscircle.png"
              alt="rails girls london event"
            />
          </div>
        </div>
        <p class="technology-text">
          As a developer I am, naturally, interested in all-things tech. I strive
          to keep up-to-date with the latest news and trends through various means
          such as reading <strong>TechCrunch, TechRadar, Wired</strong>, by
          listening to podcasts such as the <strong>LadyBug</strong> podcast, and
          simply by being part of the developer community on Twitter.<br />
          <br />
          I also try to attend tech meetups when I can such as (from left to
          right): <strong>Node Girls London</strong> at Financial Times, an
          android development workshop, organised by Codebar and hosted by
          <strong>Trainline</strong>, a Women in Tech event at
          <strong>Twitter</strong>, a Codebar workshop hosted by Google,
          <strong>AthenaHack</strong>- an all-female hackathon and event hosted by
          Queen Mary, University of London, Rails Girls London hosted by
          <strong>Deliveroo.</strong>
          <br>
          I recently attended an event by the
          community <strong>TrianGirls</strong>, hosted at Brainstation, as well as the launch of
          the Qwik framework, hosted at <strong>Penningtons Manches Cooper.</strong>
          <br />
          <br />
          Almost all of my professional experience so far has been in a
          frontend-capacity. However, I am interested in back-end development,
          security and cloud-computing. I hope to get my <strong>AWS Cloud Practitioner
          certification</strong> this year.
        </p>
      </div>
    </div>
  <div class="mental-health-container">
    <h2 class="mental-health-title">Mental Health</h2>
    <div class="mental-health-images">
      <img
        class="physical"
        src="../../assets/images/greenribboncircle.jpg"
        alt="green ribbon for mental health awareness"
      />
      <img
        class="dance"
        src="../../assets/images/sparkcircle.jpg"
        alt="book called spark by john ratey"
      />
      <img
        class="piano"
        src="../../assets/images/moodcircle.jpg"
        alt="david burns book on mood"
      />
    </div>
    <p class="mentalhealth">
      I'm interested in the role that a diverse microbiome and
      aerobic exercise have on our mental health.
      <br>
      <br>
      I find myself returning to the
      book Spark - by Dr John Ratey, time and time again.
      <br>
      <br>
      (A couple of chapters in the book focus on the positive effect that exercise has on mental
      health).
    </p>
  </div>
  <div class="languages-container">
    <h2 class="languages-title">Languages and travel</h2>
  </div>
  <br />
  <p class="languages-text">
    There is something thrilling about being able to understand and communicate
    in another language and having studied modern languages at university, I've
    had the opportunity to learn a handful of languages;
    <strong>French, German and Dutch</strong> and a little
    <strong>Spanish</strong>.
  </p>
  <p class="languages-text2">
    Studying languages also gave me the opportunity to live and work abroad; I
    worked in <strong>Brittany</strong>, France for six months before moving to
    <strong>Heidelberg</strong> to study at Germany's oldest university - the
    <strong>Ruprecht Karls Universitaet Heidelberg</strong>. If time permitted I
    would love to learn Irish. In the past I have volunteered for the
    pan-European magazine Cafebabel, translating articles from German into
    English and from French into English. Profile:
    <a
      href="https://cafebabel.com/en/profile/emily-spencer-5ae00479f723b35a145d9c89/"
      >Cafebabel</a
    >
  </p>
<app-footer></app-footer>
