div {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  font-size: 14px;
  padding: 20px;
  color: #313131;
  background-color: rgb(236, 231, 225);
  border-radius: 5px;
  width: 80%;
}
