.accordion {
  height: 100px;
  overflow: hidden;
  transition: height 0.8s cubic-bezier(1, 0, 0.41, 1.01);
  border: solid grey 1px;
}

h2 {
  padding: 0;
}

.accordion-group {
  width: 800px;
  height: 500px;
  padding: 8px 20px 220px 220px;
}

.accordion__container {
  height: 100px;
  //border: solid grey 1px;
}

.accordion.is-active {
  height: 180px;
}

.accordion.is-active .accordion__description__container {
  opacity: 1;
}
.accordion__title__container {
  cursor: pointer;
  height: 100px;
  padding: 0 5px;
  position: relative;
}
.accordion__title {
  line-height: 100px;
  text-transform: lowercase;
}
.accordion__description__container {
  opacity: 1;
  transition: opacity .6s;
  padding: 5px;
}


