@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
.logo {
 padding-top: 40px;
 padding-bottom: 20px;
}

.logo:hover{
  border:none;
  color:blue;
}

.welcomeContainer {
  text-align: center;
}

.fadeout{
  animation:fadeoutTitle 7s  ease-in-out;
}

@keyframes fadeoutTitle {
  0% {opacity:1}
  30% {opacity:0}
  80% {opacity:0}
  100% {opacity:1}
}

h2 {
  margin-top: -80px;
  font-style: italic;
  font-weight: 400;
  font-family: Montserrat;
}

.fab {
  width: 200px;
  height: 200px;
}

.social {
  margin-top: -90px;
  margin-left: 20px;

}

i {
  width: 200px;
}

