@use '../../sizes.scss';

.logo {
 padding-top: sizes.$portfolio-size-40;
 padding-bottom: sizes.$portfolio-size-20;
}

.welcomeContainer {
  text-align: center;
}

.fadeout{
  animation:fadeoutTitle 7s  ease-in-out;
}

@keyframes fadeoutTitle {
  0% {opacity:1}
  30% {opacity:0}
  80% {opacity:0}
  100% {opacity:1}
}

h2 {
  margin-top: calc(-1 * sizes.$portfolio-size-80);
  font-style: italic;
  font-weight: 400;
  font-family: Montserrat;
}

.fab {
  width: sizes.$portfolio-size-200;
  height: sizes.$portfolio-size-200;
}

.social {
  margin-top: calc(-1 * sizes.$portfolio-size-90);
  margin-left: sizes.$portfolio-size-20;
}

i {
  width: sizes.$portfolio-size-200;
  cursor: pointer;
}


img {
  cursor: pointer;
}
