$portfolio-background-color: rgb(236, 231, 225);
$portfolio-color-white: #f7f7f7;
$portfolio-color-grey: #bdb3b3;
$portfolio-color-grey-white: #d1c7c7;
$portfolio-color-white-grey: #ccc9c0;
$portfolio-color-dark-grey: #949292;
$portfolio-color-pure-white: #ffffff;
