$portfolio-size-4: 4px;
$portfolio-size-5: 5px;
$portfolio-size-6: 6px;
$portfolio-size-8: 8px;
$portfolio-size-10: 10px;
$portfolio-size-12: 12px;
$portfolio-size-14: 14px;
$portfolio-size-16: 16px;
$portfolio-size-18: 18px;
$portfolio-size-20: 20px;
$portfolio-size-24: 24px;
$portfolio-size-28: 28px;
$portfolio-size-32: 32px;
$portfolio-size-36: 36px;
$portfolio-size-40: 40px;
$portfolio-size-48: 48px;
$portfolio-size-50: 50px;
$portfolio-size-60: 60px;
$portfolio-size-70: 70px;
$portfolio-size-100: 100px;
$portfolio-size-160: 160px;
$portfolio-size-200: 200px;
$portfolio-size-300: 300px;
$portfolio-size-320: 320px;
$portfolio-size-340: 340px;
$portfolio-size-360: 360px;
$portfolio-size-400: 400px;
$portfolio-size-450: 450px;
$portfolio-size-500: 500px;
$portfolio-size-532: 532px;
$portfolio-size-600: 600px;
$portfolio-size-620: 620px;
$portfolio-size-800: 800px;
$portfolio-size-1000: 1000px;
$portfolio-size-1100: 1100px;
