$portfolio-size-4: 4px;
$portfolio-size-5: 5px;
$portfolio-size-6: 6px;
$portfolio-size-8: 8px;
$portfolio-size-10: 10px;
$portfolio-size-12: 12px;
$portfolio-size-14: 14px;
$portfolio-size-15: 15px;
$portfolio-size-16: 16px;
$portfolio-size-18: 18px;
$portfolio-size-20: 20px;
$portfolio-size-24: 24px;
$portfolio-size-28: 28px;
$portfolio-size-30: 30px;
$portfolio-size-32: 32px;
$portfolio-size-36: 36px;
$portfolio-size-40: 40px;
$portfolio-size-48: 48px;
$portfolio-size-50: 50px;
$portfolio-size-55: 55px;
$portfolio-size-60: 60px;
$portfolio-size-70: 70px;
$portfolio-size-80: 80px;
$portfolio-size-90: 90px;
$portfolio-size-100: 100px;
$portfolio-size-150: 150px;
$portfolio-size-110: 110px;
$portfolio-size-120: 120px;
$portfolio-size-140: 140px;
$portfolio-size-160: 160px;
$portfolio-size-170: 170px;
$portfolio-size-180: 180px;
$portfolio-size-200: 200px;
$portfolio-size-210: 210px;
$portfolio-size-220: 220px;
$portfolio-size-240: 240px;
$portfolio-size-250: 250px;
$portfolio-size-280: 280px;
$portfolio-size-300: 300px;
$portfolio-size-320: 320px;
$portfolio-size-340: 340px;
$portfolio-size-350: 350px;
$portfolio-size-360: 360px;
$portfolio-size-400: 400px;
$portfolio-size-420: 420px;
$portfolio-size-450: 450px;
$portfolio-size-500: 500px;
$portfolio-size-510: 510px;
$portfolio-size-532: 532px;
$portfolio-size-600: 600px;
$portfolio-size-620: 620px;
$portfolio-size-642: 642px;
$portfolio-size-700: 700px;
$portfolio-size-768: 768px;
$portfolio-size-800: 800px;
$portfolio-size-1000: 1000px;
$portfolio-size-1024: 1024px;
$portfolio-size-1050: 1050px;
$portfolio-size-1100: 1100px;
$portfolio-size-1140: 1140px;
$portfolio-size-1200: 1200px;
$portfolio-size-1400: 1400px;
$portfolio-size-1600: 1600px;
