/* You can add global styles to this file, and also import other style files */
@use './colors.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
  background-color: colors.$portfolio-background-color;
  font-family: Open Sans ;
}

.fab {
  height: 200px;
  width: 200px;
}


